<!DOCTYPE html>
<html>
  <body>
  
  <h2>Predict loan default Probability </h2>
  
  <form method="POST" action="/">
    amount:<br>
    <input type="number" name="amount" value=50>
    <br><br>
  <form method="POST" action="/">
    amount:<br>
    <input type="number" name="amount" value=50>
    <br><br>
  <form method="POST" action="/">
    <input type="submit" value="Submit">
  <br><br>
  </form>
  {% if pred %}
  <p>The default probability of this loan is {{ pred }}</p>
  {% endif %}

  </body>
</html>
